<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

   <!--导属性文件-->
   <context:property-placeholder location="classpath:mybatis/sqlmap/db.properties"></context:property-placeholder>

   <!--配置数据源-->
   <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
      <property name="driverClassName" value="${jdbc.driverClass}"></property>
      <property name="url" value="${jdbc.jdbcUrl}"></property>
      <property name="username" value="${jdbc.user}"></property>
      <property name="password" value="${jdbc.password}"></property>
   </bean>

   <!--创建sessionFactory工厂-->
   <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>

      <property name="plugins">
         <array>
            <!--分页插件-->
            <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
         </array>
      </property>

      <property name="configuration">
         <bean class="com.baomidou.mybatisplus.core.MybatisConfiguration">
            <property name="mapUnderscoreToCamelCase" value="true"/>
            <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
         </bean>
      </property>

   </bean>

   <!--批量扫描mapper-->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
      <property name="basePackage" value="com.hy.mapperDao"/>
      <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
   </bean>

   <!--配置事务管理器-->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"/>
   </bean>

   <!--支持事务注解的(@Transactional)-->
   <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

   <!--扫描service-->
   <context:component-scan base-package="com.hy.service"></context:component-scan>

   <!--视图解析器-->
   <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/studentView/"></property>
      <property name="suffix" value=".jsp"></property>
   </bean>-->
</beans>